@page
@model CreateDataModel
@{
    ViewData["Title"] = "Data Creation Centre";
}

<style>
    body {
        background-image: url('Images/background.jpeg');
    }
</style>

<h2>@ViewData["Title"]</h2>
<h3>Data Created!</h3>

<info>
    <strong>Go to</strong> <a href="/View">Dashboard</a><br />
</info>
